.example-spacer {
  flex: 1 1 auto;
}
.filter {
  width: 100%;
}

.table_container {
  max-width: 1400;
  padding-left: 20px;
  padding-bottom: 20px;
}

.img {
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: transform 0.1s ease, filter 0.3s ease;

  &:hover {
    transform: scale(1.05); 
    filter: brightness(0.6);
  }
}


.content_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 20px;
  margin-top: 20px;
}

.country_image {
  width: 40px;
  aspect-ratio: 16/9;
  border: 1px solid;
}
