<div class="card">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card-subtitle>Email: {{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ user.image }}" alt="user's image" />
    <br/>
    <mat-card-content>
      <p><b>Date of Birth:</b> {{ user.dob | date : "longDate" }}</p>
      <p><b>Education: </b>{{user.education}}</p>
      <p><b>Description:</b> {{ user.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="closeDetail()">Close</button>
    </mat-card-actions>
  </mat-card>
</div>
