
      <p>Email: {{ user.email }}</p>
      <p>Date of Birth: {{ user.dob | date:'longDate' }}</p>
      <!-- Add other user fields here as needed -->
  
      <!-- Close Button -->
      <button mat-button (click)="closeDetail()">Close</button>

  
<div class="card">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card-subtitle>Email: {{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{user.image}} alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="closeDetail()">Close</button>
    </mat-card-actions>
  </mat-card>
</div>